<%- include('../partials/header') %>

<% album.forEach(function(a) { %>
<div>
    <div><a href="/albums/<%= a._id %>"><%= a.title %> </a></div>
    <div><%= a.artist %></div>
    <div><%= a.releaseYear %> </div>
</div>
<%})%>

<%- include('../partials/header') %>
